.classpath
.project
.repository/
.settings
target
*.class
*.log*
*.iml
.idea
*.versionsBackup
*.DS_Store
*.pyc
app.jar
/.idea/
*.tar.gz
_build
logs
distribution/docker/resources/*.rpm
regression/report/*
app/odc-web-starter/oss_temp_dir/
